#b {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: white;
    z-index: 20;
    cursor: cell;
}

#score {
    color: white;
    position: absolute;
    top: 0%;
    left: 90%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

body {
    background-color: black;
    cursor: crosshair;
}
